.Note{
    max-width: 400px;
}

.NoteBox{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.Offer{
    background-color: white;
    min-height: 100svh;
    justify-content: center;
    align-items: center;

}