@import '../../values';
@media screen and (max-width: 928px) {
    .FirstTitleSection {
        *{
            display: none;
        }
    }
}


.IntroducingBox{
    width: 100%;
    border-top: 2px solid black;
    min-height: 100svh;
        background-color: white;
    position: relative;
    padding: 20px;
    .Introducing{
        top: -180px;
        position: relative;
        article{
            div{
                opacity: 0;
                margin-top: 20px;
                height: 300px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    .PhotoBox{
    
        min-height: 600px;
        margin: 0 auto;
        transition: 1s;
        img, .loadingImageHome{
            background-color: white;
            box-shadow: 0 0 0 3px black;
            position: sticky;
            top: 185px;
            margin: 0 auto;
        }
    
     
        
    
    }
}

.FirstTitleSection{
    margin-top: 100px;
    height: 40svh;
    color: rgba(255, 255, 255, 0.712);
    font-size: 2em;
    font-weight: 600;
    font-style: oblique;
    display: flex;
    text-align: left;
    >div{
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul{
        list-style: none;
        
    }
    .left-side{
        li{
            opacity: 0;
            &:first-child{
                animation: 1s textShowAnim forwards;
            }
            &:nth-child(2){
                animation: 1s 1s textShowAnim forwards;            
            }
            &:nth-child(3){
                animation: 1s 2s textShowAnim forwards;            
            }
    
    
        }
    }
    .right-side{
        span{
            opacity: 0;
        }
        @for $i from 1 through 5{
            .span-#{$i} {
              animation: 1s #{3 + ($i / 10)}s textShowAnim forwards;
            }
          }
    }
}

#scrollPath {
    stroke-dasharray: 5000; /* Długość większa niż długość ścieżki */
    stroke-dashoffset: 5000; /* Taka sama jak stroke-dasharray, aby na początku ukryć ścieżkę */
  }
  

